.radio {
	height: 25px;
	width: 19px;
	clear:left;
	float:left;
	margin: 0 0 3px;
	padding: 0 0 0 26px;
	background: url("../image/radio.png");
	background-repeat:no-repeat;
	cursor: default;
}
.checkbox {
	height: 25px;
	width: 19px;
	clear:left;
	float:left;
	margin: 0 0 3px;
 /*   padding: 0 0 0 26px;*/
	background: url("../image/checkbox.gif") no-repeat;
	cursor: default;
	text-align:left;
}
.checkbox input,.radio input {
	display: none;
	height: 16px;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: middle;
	margin-right: 4px;
	margin-top: -1px;
	margin-bottom: -1px;
}
.checkbox input.show,.radio input.show {
	display: inline;
}
.checkbox label,.radio label{
  	width: 89%;
	padding-left: 20px;
	padding-top: 3px;
}
.selected {
	background-position: 0 -52px;
}
.block {
	width: 50%;
	float: left;
}
label {
	padding-left:10px;
	float:left;
	text-align:left;
}
.checkboxDiv{
	width:99% !important;
    height:120px;
    overflow: auto;
    border: 1px solid #DBDEE1;
    margin-right: 0px !important;
    border-top:none;
    border-right: none;
	border-left: none;
	padding-left: 2px;
	padding-top: 2px;
}
.box .box-content .box-product{
    padding-right:0px !important;
    padding-left:0px !important;
}
.box-product .box-heading-checkbox{
    background: url("../image/background.png") repeat-x scroll 0 0 transparent;
   /* border: 1px solid #DBDEE1;*/
    text-align: center;
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding: 8px 10px 7px;
    margin-bottom:0px !important;
    width:89% !important;
 }
 

/*.box-product .box-heading-checkbox{
    font:normal 14px Arial;
 	 text-shadow: 0 1px 0 #ccc,
	 0 2px 0 #c9c9c9,
	 0 3px 0 #bbb,
	 0 4px 0 #b9b9b9,
	 0 5px 0 #aaa,
	 0 6px 1px rgba(0,0,0,.1),
	 0 0 5px rgba(0,0,0,.1),
	 0 1px 3px rgba(0,0,0,.3),
	 0 3px 5px rgba(0,0,0,.2),
	 0 5px 10px rgba(0,0,0,.25),
	 0 10px 10px rgba(0,0,0,.2),
	 0 20px 20px rgba(0,0,0,.15);
 }
 */
 .box .box-heading{
 	text-align: center;
 }

.box-product .box-single-checkbox{
    width:100% !important;
    margin-right: 0px;
}
.box-product {
	overflow: hidden !important;
}
.box .filterBox {
	padding: 10px 0px 10px 0px;
}
.hoverInColor{
	background-color: #F8F8F8 ;
 	 text-shadow: 0 1px 0 #ccc,
	 0 2px 0 #c9c9c9,
	 0 3px 0 #bbb,
	 0 4px 0 #b9b9b9,
	 0 5px 0 #aaa,
	 0 6px 1px rgba(0,0,0,.1),
	 0 0 5px rgba(0,0,0,.1),
	 0 1px 3px rgba(0,0,0,.3),
	 0 3px 5px rgba(0,0,0,.2),
	 0 5px 10px rgba(0,0,0,.25),
	 0 10px 10px rgba(0,0,0,.2),
	 0 20px 20px rgba(0,0,0,.15);
}
  