.jcarousel-skin-tango .jcarousel-container {






}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width:1280px;

}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 1280px;
    height: 395px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
     width: 1280px;
   height: 395px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width: 1280px;
    height: 395px;
}

.jcarousel-skin-tango .jcarousel-item {
  width: 1280px;
     height: 395px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 0px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 0px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {

}

.jcarousel-skin-tango .jcarousel-item-placeholder {

 
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    height: 36px;
    position: absolute;
    right: 25px;
    top: 350px;
    width: 36px;
    cursor: pointer;
    background: transparent url(../image/next-horizontal.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
background: transparent url(../image/next-horizontal-hover.png) no-repeat;
background-position:0 -36px;
 height: 36px;
 width: 36px;

}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {

}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;

}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 350px;
    left: 25px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    background: transparent url(../image/prev-horizontal.png) no-repeat 0 0;
	z-index:999999;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
background: transparent url(../image/prev-horizontal-hover.png) no-repeat;
background-position:0 -36px;
 height: 36px;
 width: 36px;

}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {

}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;

}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {

}

.jcarousel-skin-tango .jcarousel-next-vertical:active {

}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;

}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {

}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {

}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;

}



















.jcarousel-skin-tango1 .jcarousel-container {



}

.jcarousel-skin-tango1 .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango1 .jcarousel-container-horizontal {
    width: 461px;
	height:335px

}

.jcarousel-skin-tango1 .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango1 .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango1 .jcarousel-clip-horizontal {
    width: 461px;
	height:335px
}

.jcarousel-skin-tango1 .jcarousel-clip-vertical {
    width: 461px;
	height:335px
}

.jcarousel-skin-tango1 .jcarousel-item {
    width: 461px;
	height:335px
}

.jcarousel-skin-tango1 .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango1 .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango1 .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango1 .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}












/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango1 .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango1 .jcarousel-next-vertical:hover,
.jcarousel-skin-tango1 .jcarousel-next-vertical:focus {

}

.jcarousel-skin-tango1 .jcarousel-next-vertical:active {

}

.jcarousel-skin-tango1 .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango1 .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango1 .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango1 .jcarousel-next-disabled-vertical:active {
    cursor: default;

}

.jcarousel-skin-tango1 .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango1 .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango1 .jcarousel-prev-vertical:focus {

}

.jcarousel-skin-tango1 .jcarousel-prev-vertical:active {

}

.jcarousel-skin-tango1 .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango1 .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango1 .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango1 .jcarousel-prev-disabled-vertical:active {
    cursor: default;

}







/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango1 .jcarousel-next-horizontal {
    height: 17px;
    position: absolute;
    right: 0px;
    top: 340px;
    width: 64px;
    cursor: pointer;
    background: transparent url(more.png) no-repeat 0 0;


/*.jcarousel-skin-tango1 .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}*/

.jcarousel-skin-tango1 .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango1 .jcarousel-next-horizontal:focus {

}

.jcarousel-skin-tango1 .jcarousel-next-horizontal:active {

}

.jcarousel-skin-tango1 .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango1 .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango1 .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango1 .jcarousel-next-disabled-horizontal:active {
    cursor: default;

}

/*.jcarousel-skin-tango1 .jcarousel-prev-horizontal {
    position: absolute;
    top: 230px;
    left: -21px;
    width: 91px;
    height: 46px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}*/

.jcarousel-skin-tango1 .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png);
}

/*.jcarousel-skin-tango1 .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango1 .jcarousel-prev-horizontal:focus {

}

.jcarousel-skin-tango1 .jcarousel-prev-horizontal:active {

}

.jcarousel-skin-tango1 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango1 .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango1 .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango1 .jcarousel-prev-disabled-horizontal:active {
    cursor: default;

}*/