html {
/*	overflow: -moz-scrollbars-vertical;



	margin: 0;



	padding: 0;*/



}
body {
/*	background-color: #ffffff;



	color: #000000;



	font-family: Arial, Helvetica, sans-serif;



	margin: 0px;



	padding: 0px;

    */

}
body, td, th, input, textarea, select, a {
/*

	font-size: 12px;*/



}
h1, .welcome {
/*	color: #636E75;



	font: Verdana;



	margin-top: 0px;



	margin-bottom: 20px;



	font-size: 32px;



	font-weight: normal;



	text-shadow: 0 0 1px rgba(0, 0, 0, .01);*/



}
h2 {
	background:url(../image/hdd-bg.jpg) repeat-x scroll 0 0 transparent;
	color: #000;
	font-size: 22px;
	font-weight: normal;
	margin: 0 0 10px;
	padding: 3px 0 6px 12px;
	clear:both;
	border:1px solid #ccc;
}
p {
/*	margin-top: 0px;



	margin-bottom: 20px;*/



}
a, a:visited, a b {
/*

	color: #38B0E3;



	text-decoration: underline;



	cursor: pointer;

    */

}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}
form {
/*	padding: 0;



	margin: 0;



	display: inline;*/



}
input[type='text'], input[type='password'], textarea {
/*

	background: #F8F8F8;b



	border: 1px solid #CCCCCC;



	padding: 3px;



	margin-left: 0px;



	margin-right: 0px;*/



}
select {
/*	background: #F8F8F8;



	border: 1px solid #CCCCCC;



	padding: 2px;

    */

}
label {
/*	cursor: pointer;*/



}
/* layout */



#container {
	/*	width: 980px;*/



    margin-left: auto;
	margin-right: auto;/*background:url(../image/bg_noise.png) repeat scroll 0 0 transparent;*/



    



}
#column-left {
	margin: 0 auto;
	padding: 0;
	width: 1002px;
}
#column-right {
	margin: 0 auto;
	padding: 0;
	width: 1002px;
}
#content {
	margin: 0 auto;
	min-height: 400px;
	overflow: hidden !important;
	width: 1002px;
}
#column-left + #column-right + #content, #column-left + #content {
/*
    margin-left: 195px;*/



}
#column-right + #content {
/* margin-right: 195px;*/



}
/* header */



#language {
	position: absolute;
	top: 15px;
	left: 335px;
	width: 75px;
	color: #999;
	line-height: 17px;
}
#language img {
	cursor: pointer;
}
#currency {
	width: 75px;
	position: absolute;
	top: 15px;
	left: 425px;
	color: #999;
	line-height: 17px;
}
#currency a {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #CCC;
	color: #999;
	text-decoration: none;
	margin-right: 2px;
	margin-bottom: 2px;
}
#currency a b {
	color: #000;
	text-decoration: none;
}
#header #cart {
/*	position: absolute;



	top: 0px;



	right: 145px;



	z-index: 9;



	min-width: 300px;*/



}
#header #cart .heading {
/*	float: right;



	margin-right: 172px;



	margin-top: 15px;



	padding-left: 14px;



	padding-right: 14px;



	border-top: 1px solid #FFFFFF;



	border-left: 1px solid #FFFFFF;



	border-right: 1px solid #EEEEEE;



	background: #FFF;



	position: relative;



	z-index: 1;*/



}
#header #cart .heading h4 {
/*	color: #333333;



	font-size: 15px;



	font-weight: bold;



	margin-top: 0px;



	margin-bottom: 3px;*/



}
#header #cart .heading a {
	color: #38B0E3;
	text-decoration: none;
}
#header #cart .heading a span {
	background: #FFFFFF url('../image/arrow-down.png') 100% 50% no-repeat;
	padding-right: 15px;
}
#header #cart .content {
	clear: both;
	display: none;
	position: relative;
	top: -1px;
	padding: 8px;
	min-height: 150px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	-webkit-border-radius: 0px 7px 7px 7px;
	-moz-border-radius: 0px 7px 7px 7px;
	-khtml-border-radius: 0px 7px 7px 7px;
	border-radius: 0px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	background: #FFF;
}
#header #cart.active .heading {
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 6px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
#header #cart.active .content {
	display: block;
}
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
.mini-cart-info td {
	border-bottom: 1px dotted #000;
	color: #000;
	font-size: 12px;
	font-weight: normal;
	padding: 10px 3px;
	vertical-align: top;
}
.mini-cart-info .image {
	width: 1px;
}
.mini-cart-info .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
.mini-cart-info .name small {
	color: #0A4194;
	font-size: 12px;
}
small{
font-size: 12px!important;
}
.mini-cart-info .quantity {
	text-align: right;
}
.mini-cart-info td.total {
	text-align: right;
        width: 62px;
}
.mini-cart-info .remove {
	text-align: right;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
    color: #F5F4F4;
    display: block;
    margin: 0;
    padding: 0 0 0;
	clear:both;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
        float: right;
}
.mini-cart-total tr{
    width: 50%;
}
.mini-cart-total td {
	color: #000;
	font-size: 12px;
	padding: 4px;
        
}
.mini-cart-total.sidecart-right {
    width: 70px
    
}
.mini-cart-total .sidecart-left {
    width: 238px

}
#header #cart .checkout {
	text-align: right;
	clear: both;
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}
.checkout{
    color: #F5F4F4;
    display: block;
    margin: 0;
    padding: 0px 0 0;
    float:right;
    padding-bottom: 3px;
}

.all_page_right .checkout{
    color: #000000;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    width: auto;
}

#login a{
    background: none repeat scroll 0 0 transparent;
    color: #000000 !important;
    display: block;
    font-size: 12px;
    padding: 5px 0 0;
    text-decoration: none !important;
}
#login a:hover{
    background: none repeat scroll 0 0 transparent;
    color: #000000 !important;
    display: block;
    font-size: 12px;
    padding: 5px 0 0;
    text-decoration: underline !important;
}
.checkout a{
    background: none repeat scroll 0 0 #046DD8;
    color: #FFFFFF ;
    font-size: 14px;
    padding: 5px 12px;
    text-decoration: none !important;
}
.checkout a:hover{
background: none repeat scroll 0 0 #1353A3;
color: #fff!important;
text-decoration:none!important;
}
.name a{
    background: none repeat scroll 0 0 transparent;
    color: #0A4194 !important;
    font-weight: bold;
    text-decoration: none !important;
}
.name a:hover{
color: #000!important;
text-decoration:underline!important;
background: none repeat scroll 0 0 transparent;
}
#header #search {
	position: absolute;
	top: 15px;
	right: 0px;
	width: 298px;
	z-index: 15;
}
#header .button-search {
	position: absolute;
	left: 0px;
	background: url('../image/button-search.png') center center no-repeat;
	width: 28px;
	height: 24px;
	border-right: 1px solid #CCCCCC;
	cursor: pointer;
}
#header #search input {
	background: #FFF;
	padding: 1px 1px 1px 33px;
	width: 262px;
	height: 21px;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0px 2px 0px #F0F0F0;
	-moz-box-shadow: 0px 2px 0px #F0F0F0;
	box-shadow: 0px 2px 0px #F0F0F0;
}
#header #welcome {
	position: absolute;
	top: 47px;
	right: 0px;
	z-index: 5;
	width: 298px;
	text-align: right;
	color: #999999;
}
#header .links {
	position: absolute;
	right: 0px;
	bottom: 3px;
	font-size: 10px;
	padding-right: 10px;
}
#header .links a {
	float: left;
	display: block;
	padding: 0px 0px 0px 7px;
	color: #38B0E3;
	text-decoration: none;
	font-size: 12px;
}
#header .links a + a {
	margin-left: 8px;
	border-left: 1px solid #CCC;
}
/* menu */

/*
.menu{
margin:0;
padding:0;
display:block;
}

.menu ul{
margin:0;
padding:0;
display:block;
}
.menu ul li{
margin:0;
padding:0;
display:block;
list-style:none;
float:left;
color: #FFFFFF ;
font-family: Arial,Helvetica,sans-serif ;
font-size: 14px ;
font-weight: normal ;
}
.menu ul li a {
    color: #FFFFFF;
    float: left;
    margin: 0;
    padding: 8px 16px 13px;
    text-decoration: none;
}
.menu ul li a:hover{
color:#000;
text-decoration: none;
}
.menu ul li.active{
color:#000;
text-decoration: none;
}








.menu ul li > ul {
    background: none repeat scroll 0 0 #57B05C;
    border: medium none;
    border-radius: 0 0 8px 8px;
    display: none;
    float: inherit;
    margin: 35px 0 0;
    padding: 5px 0 20px;
    position: absolute;
    text-align: left;
    width: 175px;
    z-index: 99999;
}

.menu ul li:hover > ul{



    display:block;



}

.menu ul li:first-child > ul{

    margin-left:0;

}

.menu ul li > ul li{
    background: url(../image/arw1-1.png) no-repeat scroll 8px center transparent;
    border-bottom: 1px dotted #FFFFFF;
    display: block;
    float: none;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 7px !important;
    width: auto;


}

.menu ul li > ul li a{
    border: medium none;
    color: #fff;
    display: block !important;
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
    list-style: none outside none;
    padding: 4px 10px;
    position: relative !important;
    width: 100% !important;


}
.menu ul li > ul li a:hover {
color: #000000;
}

.menu ul li > ul li a span{background:none!important;margin-right: 19px; float:none;}

.menu ul li:hover > ul{

    display:block;

}

       

        .menu ul li > ul li > ul{display:none!important; position:absolute!important; z-index:100;margin-left:100%!important; margin-top:-26px; min-width:225px; }

        .menu ul li > ul li > ul li{display:block!important;}

        .menu ul li > ul li > ul li:first-child{border-bottom: 1px solid #000000;
        border-left:none; border-right:none; border-top:none;}

        .menu ul li > ul li:hover > ul{display:block!important; color:#000; }

        .main_menu ul li > ul li:last-child a{width:auto;}*/














.breadcrumb {
	color: #555;
	margin: 0;
	padding: 10px 0;
}
.breadcrumb a {
	color: #555;
	text-decoration:none;
}
.breadcrumb a:hover {
	color: #555;
	text-decoration:underline;
}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #fff;

}

.success {
    background: url(../image/success.png) no-repeat scroll 10px center #D71313;
    border: 1px solid #BBDF8D;
    color: #FFFFFF;
    font-size: 16px;
}
.success a {
color:#fff;
}

.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #D5D5D5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    display: block;
    font-size: 12px;
    margin: 0px 0 5px;
    padding:4px 10px 4px 8px;
    width: 245px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #57B05C;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
table.list tbody td {
	vertical-align: top;
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
	vertical-align: middle;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr.highlight:hover td {
	background: #F1FFDD;
	cursor: pointer;
}
table.radio label {
	width: 100%;
	height: 15px;
	display: inline-block;
}
.pagination {
	border-top: 1px solid #EEEEEE;
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 3px;
}
/* button */



a.button, input.button {
	cursor: pointer;
	 border-radius: 0 0 0 0;
	color: #FFFFFF!important;
	line-height: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background: none repeat scroll 0 0 #046DD8;
/*	-webkit-border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-khtml-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;*/
}
a.button {
	display: inline-block;
	text-decoration: none;
	padding: 6px 12px 6px 12px;
}
input.button {
	margin: 0;
	border: 0;
	height: 24px;
	padding: 0px 12px 0px 12px;
}
a.button:hover, input.button:hover {
	background:#1359b1;
}
.buttons {
	overflow: auto;
	margin-bottom: 20px;
	margin-top:5px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
/*	background: none repeat scroll 0 0 #57B05C;*/
	clear: both;
	height: 29px;
	line-height: 15px;
        padding-top: 10px;
}
.htabs a {
	background: none repeat scroll 0 0 #046DD8;
	color: #FFFFFF;
	margin:0 5px 0 0;
	float: left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding: 7px 15px 6px;
	text-align: center;
	text-decoration: none;
	border:none;
}
.htabs a:hover {
	padding-bottom: 7px;
	color:#fff;
	background: none repeat scroll 0 0 #1353A3;
}
.htabs a.selected {
	padding-bottom: 7px;
	color:#fff;
	background: none repeat scroll 0 0 #1353A3;
}
#review-title {
	color:#000;
	background:none;
}
.tab-content {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
        border-top: 1px solid #DDDDDD;
	padding: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;
}
/* box */

.tab-content .box-product .related-product{
    float: left;
    margin-right: 10px;
    text-align: center;
    width: 235px;
}





/* box category */



.box-category {
	margin-top: -5px;
}
.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.box-category > ul > li {
	padding: 8px 8px 8px 0px;
}
.box-category > ul > li + li {
	border-top: 1px solid #EEEEEE;
}
.box-category > ul > li > a {
	text-decoration: none;
	color: #333;
}
.box-category > ul > li ul {
	display: none;
}
.box-category > ul > li a.active {
	font-weight: bold;
}
.box-category > ul > li a.active + ul {
	display: block;
}
.box-category > ul > li ul > li {
	padding: 5px 5px 0px 10px;
}
.box-category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
}
.box-category > ul > li ul > li > a.active {
	font-weight: bold;
}
/* content */



#content .content {
}
#content .content .left {
	float: left;
	width: 49%;
	padding:0;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* category */



.category-info {
	overflow: auto;
	margin-bottom: 20px;
}
.category-info .image {
	float: left;
	padding: 5px;
	margin-right: 15px;
	border: 1px solid #E7E7E7;
}
.category-list {
	overflow: auto;
	margin-bottom: 20px;
}
.category-list ul {
	float: left;
	width: 18%;
}
.category-list .div a {
	text-decoration: underline;
	font-weight: bold;
}
/* manufacturer */



.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */



.product-filter {
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 5px;
	overflow: auto;
}
.product-filter .display {
	margin-right: 15px;
	float: left;
	padding-top: 4px;
	color: #333;
}
.product-filter .display a {
	font-weight: bold;
}
.product-filter .sort {
	float: right;
	color: #333;
}
.product-filter .limit {
	margin-left: 15px;
	float: right;
	color: #333;
}
.product-compare {
	padding-top: 6px;
	margin-bottom: 25px;
	font-weight: bold;
}
.product-compare a {
	text-decoration: none;
	font-weight: bold;
}
.product-list > div {
	overflow: auto;
	margin-bottom: 15px;
}
.product-list .right {
	float: right;
	margin-left: 15px;
}
.product-list > div + div {
	border-top: 1px solid #EEEEEE;
	padding-top: 16px;
}
.product-list .image {
	float: left;
	margin-right: 10px;
}
.product-list .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.product-list .name {
	margin-bottom: 3px;
}
.product-list .name a {
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
}
.product-list .description {
	line-height: 15px;
	margin-bottom: 5px;
	color: #4D4D4D;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
	float: right;
	height: 50px;
	margin-left: 8px;
	text-align: right;
	color: #333333;
	font-size: 12px;
}
.product-list .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: bold;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
}
.product-list .cart {
	margin-bottom: 3px;
}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
}
.product-list .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
.product-list .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left 60% no-repeat;
}
.product-grid {
	width: 100%;
	overflow: auto;
}
.product-grid > div {
	width: 130px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 15px;
}
#column-left + #column-right + #content .product-grid > div {
	width: 125px;
}
.product-grid .image {
	display: block;
	margin-bottom: 0px;
}
.product-grid .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.product-grid .name a {
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
.product-grid .description {
	display: none;
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.product-grid .price {
	display: block;
	font-weight: bold;
	color: #333333;
	margin-bottom: 4px;
}
.product-grid .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-grid .price-new {
	font-weight: bold;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
	margin-bottom: 3px;
}
.product-grid .wishlist, .product-grid .compare {
	margin-bottom: 3px;
}
.product-grid .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
.product-grid .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
/* Product */



.product-info {
	overflow: none;
	margin-bottom: 20px;
	clear: both;
}
.product-info > .left {
	float: left;
	width: 300px;
}
.product-info > .right {
	clear: both;
	display: block;
	float: right;
	width: 480px;
}
.product-info .image {
	border: 1px solid #E7E7E7;
	float: left;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
}
.product-info .image-additional {
	/*    width: 260px;



    margin-left: -10px;*/



    clear: both;
	overflow: hidden;
}
.product-info .image-additional img {
/*
    border: 1px solid #E7E7E7;*/



}
.product-info .image-additional a {
/*    float: left;



    display: block;



    margin-left: 10px;



    margin-bottom: 10px;*/



}
.product-info .description {
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
    color: #4D4D4D;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 3px 5px;
}
.product-info .description span {
	color: #0A4194 ;
/*	padding-left: 25px;*/
	font-weight: bold;
}
.product-info .description a {
	color: #4D4D4D;
	text-decoration: none;
}
.product-info .price {
	overflow: auto;
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: bold;
	color: #333333;
}
.product-info .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-info .price-new {
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options {
/*	color: #fff;*/
/*        background: url("../image/bg-menu.jpg") repeat-x scroll 0 0 transparent;*/
        margin-bottom: 10px;
/*	padding: 5px;*/
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.product-info .cart {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 20px;
	color: #4D4D4D;
	overflow: auto;
}
.product-info .cart div {
	float: left;
	vertical-align: middle;
}
.product-info .cart div > span {
	padding-top: 7px;
	display: block;
	color: #999;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #999;
	clear: both;
}
.product-info .review {
	color: #4D4D4D;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	margin-bottom: 10px;
	cursor:pointer;
}
.product-info .review > div {
	padding: 8px;
	border-bottom: 1px solid #E7E7E7;
	line-height: 20px;
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.attribute tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */



.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-info td {
	padding: 7px;
}
.wishlist-info thead td {
	color: #fff;
	font-weight: bold;
	background-color: #57B05C;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info thead .image {
	text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
	text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: right;
}
.wishlist-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.wishlist-info tbody .image {
	text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
	text-align: left;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: right;
}
.wishlist-info tbody .price s {
	color: #F00;
}
.wishlist-info tbody .action img {
	cursor: pointer;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */



.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */



.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-model {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-quantity {
	float: left;
	width: 31%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: left;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */



.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	color: #fff;
	font-weight: bold;
	background-color: #57B05C;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: left;
	 width: 165px;
}

.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 0px;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right;        
}

.prod_total {
	text-align: right;
        color: #D14747;
        font-family: Trebuchet MS, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 13px;        
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module > div {
	display: none;
}
.cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;        
}
.cart-total table {
	float: right;
        width: 220px;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */



.checkout-heading {
    background: none repeat scroll 0 0 #EAEAEA;
    border: 1px solid #ccc;
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 8px;
}
.checkout-heading a {
    background: none repeat scroll 0 0 transparent;
    color: #000000 !important;
    float: right;
    font-weight: normal;
    margin-top: 1px;
    padding: 0;
    text-decoration: none;
}
.colorbox{
    background: none repeat scroll 0 0 transparent!important;
    color: #000000 !important;
    display: block;
    font-size: 12px!important;
    padding: 5px 12px;
    text-decoration: none !important;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: hidden;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}
.contact-info {
	overflow: auto;
	float: left;
	width: 400px;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
/* footer */ 



#footer {
	clear: both;
	overflow: auto;
	min-height: 100px;
	background: #fff;
}
#footer h3 {
	color: #585858;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 8px;
	margin-top: 0;
	background:none;
}
#footer .column {
	float: left;
	width: 20%;
	min-height: 100px;
	font:12px Arial, Helvetica, sans-serif;
	color:#585858;
}
#footer .column ul {
	margin-top: 0px;
	/*margin-left: 8px;*/



    padding-left: 6px;
}
#footer .column ul li {
	font:12px Arial, Helvetica, sans-serif;
	background: url('../image/arrow.jpg') no-repeat scroll left 7px transparent;
	border:none;
	display: block;
	line-height: 20px;
	list-style: none outside none;
	margin: 0;
	padding: 0 0 0 9px;
}
#footer .column a {
	text-decoration: none;
	color: #585858;
}
#footer .column a:hover {
	text-decoration: underline;
}
#powered {
	margin-top: 5px;
	text-align: right;
	clear: both;
}
/* banner */



.banner div {
	text-align: center;
	width: 100%;
	display: none;
}
.banner div img {
	margin-bottom: 20px;
}
.inpt {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	color: #2F2F2F;
	font: 12px/15px Arial, Helvetica, sans-serif;
	margin: 2px 0 0;
	padding: 5px;
	vertical-align: middle;
	width: 250px;
}
.sltt {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	color: #2F2F2F;
	font: 12px/15px Arial, Helvetica, sans-serif;
	margin: 2px 0 0;
	padding: 5px;
	vertical-align: middle;
	width: 262px;
}
.msg {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	color: #2F2F2F;
	font: 12px/15px Arial, Helvetica, sans-serif;
	margin: 2px 0 0;
	padding: 5px;
	vertical-align: middle;
	width: 250px;
	min-height:80px;
}
.sitemap-info ul {
	margin:0;
	padding:0 0 0 5px;
}
.sitemap-info ul li {
	background: url(../image/arrow.jpg) no-repeat scroll left 5px transparent;
	border: medium none;
	display: block;
	font: 12px/16px Arial, Helvetica, sans-serif;
	list-style: none outside none;
	margin: 0;
	padding: 0 0 0 10px;
	color: #585858;
}
.sitemap-info ul li a {
	color: #585858;
	text-decoration:none;
}
.sitemap-info ul li a:hover {
	color: #000;
	text-decoration:underline;
}
.box-content {
}
.box-content ul {
	/*border: 1px solid #CCCCCC;*/
	margin:-5px 0 0;
	padding: 5px 15px 20px;
	width:193px;
}
.box-content ul li {
	background: url(../image/arrow.jpg) no-repeat scroll left 12px transparent;
	border-bottom:1px dotted #000000!important;
	border-left: none!important;
	border-right: none!important;
	border-top: none!important;
	display: block;
	font:12px/30px Arial, Helvetica, sans-serif;
	list-style: none outside none;
	margin: 0;
	padding: 0 0 0 10px;
	color: #000;
}
.box-content ul li a {
	color: #000;
	text-decoration:none;
}
.box-content ul li a:hover {
	color: #000;
	text-decoration:underline;
}
.ct_left {
	border: 1px solid #CCCCCC;
	display: block;
	float: left;
	margin: 0 0 15px;
	padding: 0;
	width: 700px;
}
.ct_right {
	border: 1px solid #CCCCCC;
	display: block;
	float: right;
	margin: 0;
	padding: 0;
	width: 275px;
}
.padg {
	margin:0;
	padding:0 0 0 15px;
}
.login_page_left {
	margin:0;
	padding:0;
	float:left;
	width:175px;
}
h3 {
	margin:0;
	padding:2px 0 4px 12px;
	background:#6bba70;
	font:normal 24px Arial, Helvetica, sans-serif;
	color:#fff;
	background:url(../image/bg-menu.jpg) repeat-x scroll 0 0 transparent;
}
.login_page_box {
	margin:5px 0 0 0;
	padding:10px;
	border:1px solid #d3d3d3;
}
.login_page_box ul {
	margin:0;
	padding:0;
}
.login_page_box ul li {
	margin:0;
	padding:10px 0 4px 10px;
	list-style:none;
	display:block;
	color:#000;
	border-bottom:1px dotted #000;
	background:url(../image/arrw1.jpg) no-repeat left 14px;
}
.login_page_box ul li a {
	color:#000;
	text-decoration:none;
}
.login_page_box ul li a:hover {
	color:#000;
	text-decoration:underline;
}
.login_page_left1 {
	margin:0;
	padding:0 0 0 10px;
	float:left;
	width:410px;
}
.login_page_box .ac_login {
	margin:0;
	padding:8px 25px 8px 25px;
}
.login_page_box .ac_login a {
	color:#000;
	text-decoration:none;
}
.login_page_box .ac_login a:hover {
	color:#000;
	text-decoration:underline;
}
.login_page_box .ac_login strong {
	margin:0;
	padding:0 0 5px 0;
	display:block;
	font-size:13px;
}
.login_page_box .ac_login label {
	margin:0;
	padding:10px 0 4px 10px;
	display:block;
	font-size:13px;
}
.txt_field {
	margin:3px 0 20px;
	padding:15px 10px;
	background:#f1f1f1;
	border:1px solid #b2b2b2;
	border-radius:10px;
	width:335px;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#000;
	display:block;
}
.login_btn {
	margin:0;
	padding:5px 0 0 0;
	float:right;
	display:block;
}
.or_img {
	margin:123px 0 0 390px;
	padding:0;
	position:absolute;
	width:39px;
	height:39px;
	background:url(../image/sprit-img.png) no-repeat scroll -271px -64px transparent;
	border:none;
}
.ac_lgn {
	margin:0;
	padding:70px 0 0 0;
	float:right;
	width:320px;
}
.ac_lgn h3 {
	font:normal 24px Arial, Helvetica, sans-serif;
	color:#6bba70;
	margin:0;
	padding:0;
	display:block;
	background:none;
}
.ac_lgn label {
	font-size:14px;
	font-weight:bold;
	display:block;
}
.ac_lgn strong {
	font-size:13px;
	margin:0;
	padding:10px 0 5px 0;
	display:block;
}
.home .box {
	margin-bottom: 20px !important;
	width: 1002px !important;
	margin: 0 auto;
	padding: 0px 0 10px;
}
.home .box .box-heading {
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	border: 1px solid #DBDEE1;
	background: url('../image/background.png') repeat-x;
	padding: 8px 10px 7px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	color: #333;
}
.home .box .box-content {
	background: #FFFFFF;
	-webkit-border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	-khtml-border-radius: 0px 0px 7px 7px;
	/*    border-radius: 0px 0px 7px 7px;



    border-left: 1px solid #DBDEE1;



    border-right: 1px solid #DBDEE1;*/



    border-bottom: 1px solid #DBDEE1;
	padding: 10px 0;
}
/* box products */



.home .box-product {
	width: 1002px;
	overflow: auto;
}
.home .box-product > div {

    display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	min-height:310px;
	margin-bottom: 10px;
	border:2px solid #fff;
	float:left;
}
.home .box-product > div:hover {
	border:2px solid #6BBA70;
}
#column-left + #column-right + #content .home .box-product > div {
	width: 119px;
}
.home .box-product .image {
	display: block;
	margin-bottom: 0px;
}
.home .box-product .image img {
	padding: 2px;
	border: 2px solid #E7E7E7;
	width:225px;
	height:225px;
}
.home .box-product .image img:hover {
	border: 2px solid #fff;
}
.home .box-product .name {
	text-align:center;
	    width: 235px;
		min-height:35px;
}
.home .box-product .price {
	text-align:center;
}
.home .box-product .cart {
	text-align:center;
}
.home .box-product .name a {
	color: #0A4194;
	display: block;
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 4px;
	text-decoration: none;
}
.home .box-product .price {
	color: #1AAF22;
	display: block;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 4px;
}
.home .box-product .price-old {
	color: #F00;
	text-decoration: line-through;
}
.home .box-product .price-new {
	font-weight: bold;
}
.home .box-product .rating {
	display: block;
	margin-bottom: 4px;
}
.home .box .box-content .box-product .img1 {
	float: left;
	width: 235px;
	border:2px solid #fff;
}
.home .box .box-content .box-product .img1:hover {
border:2px solid #6BBA70;
}
#content #column-left {
	margin:0;
	padding:0;
	width: auto;
}
#content #column-right {
	margin:0;
	padding:0;
	width: auto;
}
.product_page .box {
	float: right;
	padding: 0 0 15px;
	width: 225px;
}
.product_page .box .box-heading {
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	border: 1px solid #DBDEE1;
	background: url('../image/background.png') repeat-x;
	padding: 8px 10px 7px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	color: #333;
}
.product_page .box .box-content {
	border: 1px solid #E7E7E7;
	clear: both;
	display: block;
	padding: 10px 0;
	text-align: center;
}
/* box products */

.product_page .box-product {
	clear: both;
	display: block;
}
.product_page .box-product > div {
	margin-bottom: 20px;
}
#column-left + #column-right + #content .product_page .box-product > div {
	width: 119px;
}
.product_page .box-product .image {
	display: block;
	margin-bottom: 0px;
}
.product_page .box-product .image img {
}
.product_page .box-product .name {
	text-align:center;
}
.home .box-product .price {
	text-align:center;
}
.product_page .box-product .cart {
	text-align:center;
}
.product_page .box-product .name a {
	color: #0A4194!important;
	display: block;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 4px;
	text-decoration: none;
}
.product_page .box-product .price {
	display: block;
	font-weight: bold;
	color: #333333;
	margin-bottom: 4px;
}
.product_page .box-product .price-old {
	color: #F00;
	text-decoration: line-through;
}
.home .box-product .price-new {
	font-weight: bold;
}
.product_page .box-product .rating {
	display: block;
	margin-bottom: 4px;
}
.product_page .box .box-content .box-product .img1 {
}
.product_page .box .box-content {
	clear: both;
}
.product_page .box h1 {
	color: #000;
	display: block;
	float: none !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 10px 0;
	width: auto !important;
}
.ct_lt {
	margin:0px 0 0 0;
	padding:10px;
	border:1px solid #ccc;
}
.box-heading {
	background:url(../image/hdd-bg.jpg) repeat-x scroll 0 0 transparent;
	clear: both;
	color: #000;
	font-size: 22px;
	font-weight: normal;
	margin: 0 0 10px;
	padding: 3px 0 6px 12px;
	border: 1px solid #CCCCCC;
}
.rt_cst {
	border: 1px solid #CCCCCC;
	margin: -5px 0 0;
	padding:15px 25px 28px;
}
.all_page_left {
	width:225px;
	float:left;
	padding:0px 0 0 0;
}
.all_page_right {
	float:left;
	width:755px;
	margin-left:10px;
}
.all_page_right_manufacturer {
	float:left;
	width:982px;
	margin-left:10px;
}
.shoping_bag .content {
    background: none repeat scroll 0 0 #F5F4F4;
    border: medium none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 2px 2px #999;
    color: #000000 !important;
    display: block;
    margin: 4px 0 0 -120px;
    padding: 5px;
    position: absolute;
    width: 335px;
    z-index: 999999;
}
.shoping_bag h4 {
	background: url(../image/new-cart-img.png) no-repeat scroll 158px bottom transparent;
	display: block;
	font: bold 18px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	width: 200px;
}

.cont_btm_pt{
margin:0;
padding:10px 0;
display:block;
}



.product_page .cont_btm_pt .box {
    float: none;
    margin: 0;
    padding: 0;
    width: auto;
}
.product_page .cont_btm_pt .box .box-heading {
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	border: 1px solid #DBDEE1;
	background: url('../image/background.png') repeat-x;
	padding: 8px 10px 7px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	color: #333;
}
.product_page .cont_btm_pt .box .box-content {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin: 0;
    padding: 0;
}


.product_page .cont_btm_pt .box-product {

}
.product_page .cont_btm_pt .box-product > div {
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;
    min-height: 295px;
    vertical-align: top;
    width: 180px;
}
#column-left + #column-right + #content .product_page .cont_btm_pt .box-product > div {
	width: 119px;
}
.product_page .cont_btm_pt .box-product .image {
	display: block;
	margin-bottom: 0px;
}
.product_page .cont_btm_pt .box-product .image img {
    border: 2px solid #E7E7E7;
    height: 200px;
    padding: 2px;
    width: 170px;
}
.product_page .cont_btm_pt .box-product .name {
	text-align:center;
}
.product_page .cont_btm_pt .box-product .price {
	text-align:center;
}
.product_page .cont_btm_pt .box-product .cart {
	text-align:center;
}
.product_page .cont_btm_pt .box-product .name a {
	color: #0A4194;
	display: block;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 4px;
	text-decoration: none;
	min-height: 32px;
}
.product_page .cont_btm_pt .box-product .price {
    color: #333333;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
}
.product_page .cont_btm_pt .box-product .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product_page .cont_btm_pt .box-product .price-new {
	font-weight: bold;
}
.product_page .cont_btm_pt .box-product .rating {
	display: block;
	margin-bottom: 4px;
}
.product_page .cont_btm_pt .box .box-content .box-product .img1 {
	float: left;
	width: 235px;
}

/*TABS CSS*/

/* root element for tabs  */
ul.css-tabs {
    margin:0 !important;
    padding:0;
    height:30px;
    border-bottom:1px solid #ccc;
}

/* single tab */
ul.css-tabs li {
    float:left;
    padding:0;
    margin:0;
    list-style-type:none;
}

/* link inside the tab. uses a background image */
ul.css-tabs a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url(../image/bg-menu.jpg) repeat-x scroll 0 0 transparent;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-radius: 4px 4px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 13px;
    height: 18px;
    margin-right: 2px;
    outline: 0 none;
    padding: 5px 30px;
    position: relative;
    text-decoration: none;
    top: 1px;
}

ul.css-tabs a:hover {
    background-color:#EAEAEA;
    color:#000;
}

/* selected tab */
ul.css-tabs a.current {
    background-color: #EAEAEA;
    border-bottom: 1px solid #ccc;
    color: #000000;
    cursor: default;
}


/* tab pane */
div.css-panes > div:first-child {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
/*    background-color: #EAEAEA;*/
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 1px 1px;
    display: none;
    min-height: 150px;
    padding: 15px 20px;
}
/*Checkout page*/
.user-checkout-choice{
    display: block !important;
}

.form-field-left{
    float: left;
    width: 170px;
}


.form-field-input, .form-field-input-half, .form-field-input-full, .form-field-input-half-selected {
    border: 1px solid #D5D5D5;
/*    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;*/
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 4px 10px 4px 8px;
	clear:both;
        background: none repeat scroll 0 0 #F1F1F1;

}
.form-field-input-half {
    width: 245px;
}

.form-field-input-half-selected {
    width: 263px;
}
.form-field-input-full {

    width: 245px;
}
.form-field-left, .form-field-full  label {
    clear: both;
    color: #000000;
    display: block;
    float: none;
    font-size: 12px;
    font-weight: bold;
}
#guest-buy fieldset {
    border: 0px none;
}
#guest-buy-error{
    border: 1px solid;
}

#login span{
    font: 14px solid;
    
}
#login div a{
    display: inline;
    color: #0A4194 !important;
}
#login div a:hover{
    display: inline;
    color: #0A4194 !important;
    text-decoration: underline;
}
#button_quotes{
    width: auto;
    min-height: 240px;
    height: 240px;
}
#button_quotes ul li{
    border-style: none;
}
.testimonial{
    min-height: 240px;
}